<!DOCTYPE html>
<html class="light" style="--tg-color-scheme:light; --tg-theme-bg-color:#ffffff; --tg-theme-text-color:#000000; --tg-theme-hint-color:#707579; --tg-theme-link-color:#3390ec; --tg-theme-button-color:#3390ec; --tg-theme-button-text-color:#ffffff; --tg-viewport-height:100vh; --tg-viewport-stable-height:100vh;">
  <head>
    <meta charset="utf-8" />
    <title>DurgerKingBot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="MobileOptimized" content="176">
    <meta name="HandheldFriendly" content="True">
    <meta name="robots" content="noindex, nofollow">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>

    <script>
          function setThemeClass() {
            document.documentElement.className = Telegram.WebApp.colorScheme;
          }
          Telegram.WebApp.onEvent('themeChanged', setThemeClass);
          setThemeClass();
   </script>
   <link href="https://webappcontent.telegram.org/css/cafe.css?17" rel="stylesheet"></link>

  </head>
  <body>
<section class="cafe-page cafe-items">
    <div class="cafe-item js-item" data-item-id="1" data-item-price="4990">
    <div class="cafe-item-counter js-item-counter">1</div>
    <div class="cafe-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Burger.png">
        <img src="/img/cafe/Burger.png">

      <canvas width="74" height="74"></canvas></picture>
    </div>
    <div class="cafe-item-label">
      <span class="cafe-item-title">Burger</span>
      <span class="cafe-item-price">$4.99</span>
    </div>
    <div class="cafe-item-buttons">
      <button class="cafe-item-decr-button js-item-decr-btn button-item ripple-handler">
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
      <button class="cafe-item-incr-button js-item-incr-btn button-item ripple-handler">
        <span class="button-item-label">Add</span>
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
    </div>
  </div>  <div class="cafe-item js-item" data-item-id="2" data-item-price="1490">
    <div class="cafe-item-counter js-item-counter">1</div>
    <div class="cafe-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Fries.png">
        <img src="/img/cafe/Fries.png">

      <canvas width="74" height="74"></canvas></picture>
    </div>
    <div class="cafe-item-label">
      <span class="cafe-item-title">Fries</span>
      <span class="cafe-item-price">$1.49</span>
    </div>
    <div class="cafe-item-buttons">
      <button class="cafe-item-decr-button js-item-decr-btn button-item ripple-handler">
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
      <button class="cafe-item-incr-button js-item-incr-btn button-item ripple-handler">
        <span class="button-item-label">Add</span>
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
    </div>
  </div>  <div class="cafe-item js-item" data-item-id="3" data-item-price="3490">
    <div class="cafe-item-counter js-item-counter">1</div>
    <div class="cafe-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Hotdog.png">
        <img src="/img/cafe/Hotdog.png">

      <canvas width="74" height="74"></canvas></picture>
    </div>
    <div class="cafe-item-label">
      <span class="cafe-item-title">Hotdog</span>
      <span class="cafe-item-price">$3.49</span>
    </div>
    <div class="cafe-item-buttons">
      <button class="cafe-item-decr-button js-item-decr-btn button-item ripple-handler">
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
      <button class="cafe-item-incr-button js-item-incr-btn button-item ripple-handler">
        <span class="button-item-label">Add</span>
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
    </div>
  </div>  <div class="cafe-item js-item" data-item-id="4" data-item-price="3990">
    <div class="cafe-item-counter js-item-counter">1</div>
    <div class="cafe-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Tako.png">
         <img src="/img/cafe/Tako.png">

      <canvas width="74" height="74"></canvas></picture>
    </div>
    <div class="cafe-item-label">
      <span class="cafe-item-title">Tako</span>
      <span class="cafe-item-price">$3.99</span>
    </div>
    <div class="cafe-item-buttons">
      <button class="cafe-item-decr-button js-item-decr-btn button-item ripple-handler">
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
      <button class="cafe-item-incr-button js-item-incr-btn button-item ripple-handler">
        <span class="button-item-label">Add</span>
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
    </div>
  </div>  <div class="cafe-item js-item" data-item-id="5" data-item-price="7990">
    <div class="cafe-item-counter js-item-counter">1</div>
    <div class="cafe-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Pizza.png">
        <img src="/img/cafe/Pizza.png">

      <canvas width="74" height="74"></canvas></picture>
    </div>
    <div class="cafe-item-label">
      <span class="cafe-item-title">Pizza</span>
      <span class="cafe-item-price">$7.99</span>
    </div>
    <div class="cafe-item-buttons">
      <button class="cafe-item-decr-button js-item-decr-btn button-item ripple-handler">
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
      <button class="cafe-item-incr-button js-item-incr-btn button-item ripple-handler">
        <span class="button-item-label">Add</span>
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
    </div>
  </div>  <div class="cafe-item js-item" data-item-id="6" data-item-price="1490">
    <div class="cafe-item-counter js-item-counter">1</div>
    <div class="cafe-item-photo">
        <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Donut.png">
        <img src="/img/cafe/Donut.png">

        <canvas width="74" height="74"></canvas>
        </picture>
    </div>
    <div class="cafe-item-label">
      <span class="cafe-item-title">Donut</span>
      <span class="cafe-item-price">$1.49</span>
    </div>
    <div class="cafe-item-buttons">
      <button class="cafe-item-decr-button js-item-decr-btn button-item ripple-handler">
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
      <button class="cafe-item-incr-button js-item-incr-btn button-item ripple-handler">
        <span class="button-item-label">Add</span>
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
    </div>
  </div>  <div class="cafe-item js-item" data-item-id="7" data-item-price="1990">
    <div class="cafe-item-counter js-item-counter">1</div>
    <div class="cafe-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Popcorn.png">
        <img src="/img/cafe/Popcorn.png">

      <canvas width="74" height="74"></canvas></picture>
    </div>
    <div class="cafe-item-label">
      <span class="cafe-item-title">Popcorn</span>
      <span class="cafe-item-price">$1.99</span>
    </div>
    <div class="cafe-item-buttons">
      <button class="cafe-item-decr-button js-item-decr-btn button-item ripple-handler">
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
      <button class="cafe-item-incr-button js-item-incr-btn button-item ripple-handler">
        <span class="button-item-label">Add</span>
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
    </div>
  </div>  <div class="cafe-item js-item" data-item-id="8" data-item-price="1490">
    <div class="cafe-item-counter js-item-counter">1</div>
    <div class="cafe-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Coke.png">
        <img src="/img/cafe/Coke.png">

      <canvas width="74" height="74"></canvas></picture>
    </div>
    <div class="cafe-item-label">
      <span class="cafe-item-title">Coke</span>
      <span class="cafe-item-price">$1.49</span>
    </div>
    <div class="cafe-item-buttons">
      <button class="cafe-item-decr-button js-item-decr-btn button-item ripple-handler">
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
      <button class="cafe-item-incr-button js-item-incr-btn button-item ripple-handler">
        <span class="button-item-label">Add</span>
        <span class="ripple-mask"><span class="ripple" style="transform: translate3d(9px, 4px, 0px) scale3d(1, 1, 1); opacity: 1;"></span></span>
      </button>
    </div>
  </div>  <div class="cafe-item js-item" data-item-id="9" data-item-price="10990">
    <div class="cafe-item-counter js-item-counter">1</div>
    <div class="cafe-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Cake.png">
        <img src="/img/cafe/Cake.png">

      <canvas width="74" height="74"></canvas></picture>
    </div>
    <div class="cafe-item-label">
      <span class="cafe-item-title">Cake</span>
      <span class="cafe-item-price">$10.99</span>
    </div>
    <div class="cafe-item-buttons">
      <button class="cafe-item-decr-button js-item-decr-btn button-item ripple-handler">
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
      <button class="cafe-item-incr-button js-item-incr-btn button-item ripple-handler">
        <span class="button-item-label">Add</span>
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
    </div>
  </div>  <div class="cafe-item js-item" data-item-id="10" data-item-price="5990">
    <div class="cafe-item-counter js-item-counter">1</div>
    <div class="cafe-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Icecream.png">
        <img src="/img/cafe/Icecream.png">

      <canvas width="74" height="74"></canvas></picture>
    </div>
    <div class="cafe-item-label">
      <span class="cafe-item-title">Icecream</span>
      <span class="cafe-item-price">$5.99</span>
    </div>
    <div class="cafe-item-buttons">
      <button class="cafe-item-decr-button js-item-decr-btn button-item ripple-handler">
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
      <button class="cafe-item-incr-button js-item-incr-btn button-item ripple-handler">
        <span class="button-item-label">Add</span>
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
    </div>
  </div>  <div class="cafe-item js-item" data-item-id="11" data-item-price="3990">
    <div class="cafe-item-counter js-item-counter">1</div>
    <div class="cafe-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Cookie.png">
        <img src="/img/cafe/Cookie.png">

      <canvas width="74" height="74"></canvas></picture>
    </div>
    <div class="cafe-item-label">
      <span class="cafe-item-title">Cookie</span>
      <span class="cafe-item-price">$3.99</span>
    </div>
    <div class="cafe-item-buttons">
      <button class="cafe-item-decr-button js-item-decr-btn button-item ripple-handler">
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
      <button class="cafe-item-incr-button js-item-incr-btn button-item ripple-handler">
        <span class="button-item-label">Add</span>
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
    </div>
  </div>  <div class="cafe-item js-item" data-item-id="12" data-item-price="7990">
    <div class="cafe-item-counter js-item-counter">1</div>
    <div class="cafe-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Flan.png">
        <img src="/img/cafe/Flan.png">

      <canvas width="74" height="74"></canvas></picture>
    </div>
    <div class="cafe-item-label">
      <span class="cafe-item-title">Flan</span>
      <span class="cafe-item-price">$7.99</span>
    </div>
    <div class="cafe-item-buttons">
      <button class="cafe-item-decr-button js-item-decr-btn button-item ripple-handler">
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
      <button class="cafe-item-incr-button js-item-incr-btn button-item ripple-handler">
        <span class="button-item-label">Add</span>
        <span class="ripple-mask"><span class="ripple"></span></span>
      </button>
    </div>
  </div><div class="cafe-item-shadow"></div><div class="cafe-item-shadow"></div><div class="cafe-item-shadow"></div><div class="cafe-item-shadow"></div>
</section>

<section class="cafe-page cafe-order-overview">
  <div class="cafe-block">
    <div class="cafe-order-header-wrap">
      <h2 class="cafe-order-header">Your Order</h2>
      <span class="cafe-order-edit js-order-edit">Edit</span>
    </div>
    <div class="cafe-order-items">
        <div class="cafe-order-item js-order-item" data-item-id="1">
    <div class="cafe-order-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Burger.png">
          <img src="/img/cafe/Burger.png">
      <canvas width="256" height="256"></canvas></picture>
    </div>
    <div class="cafe-order-item-label">
      <div class="cafe-order-item-title">Burger <span class="cafe-order-item-counter"><span class="js-order-item-counter">1</span>x</span></div>
      <div class="cafe-order-item-description">Meat™</div>
    </div>
    <div class="cafe-order-item-price js-order-item-price">$4.99</div>
  </div>  <div class="cafe-order-item js-order-item" data-item-id="2">
    <div class="cafe-order-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Fries.png">
      <img src="/img/cafe/Fries.png">
      <canvas width="256" height="256"></canvas></picture>
    </div>
    <div class="cafe-order-item-label">
      <div class="cafe-order-item-title">Fries <span class="cafe-order-item-counter"><span class="js-order-item-counter">1</span>x</span></div>
      <div class="cafe-order-item-description">Po-ta-toes</div>
    </div>
    <div class="cafe-order-item-price js-order-item-price">$1.49</div>
  </div>  <div class="cafe-order-item js-order-item" data-item-id="3">
    <div class="cafe-order-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Hotdog.png">
             <img src="/img/cafe/Hotdog.png">
      <canvas width="256" height="256"></canvas></picture>
    </div>
    <div class="cafe-order-item-label">
      <div class="cafe-order-item-title">Hotdog <span class="cafe-order-item-counter"><span class="js-order-item-counter">1</span>x</span></div>
      <div class="cafe-order-item-description">0% dog, 100% hot</div>
    </div>
    <div class="cafe-order-item-price js-order-item-price">$3.49</div>
  </div>  <div class="cafe-order-item js-order-item" data-item-id="4">
    <div class="cafe-order-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Tako.png">
        <img src="/img/cafe/Tako.png">
      <canvas width="256" height="256"></canvas></picture>
    </div>
    <div class="cafe-order-item-label">
      <div class="cafe-order-item-title">Tako <span class="cafe-order-item-counter"><span class="js-order-item-counter">1</span>x</span></div>
      <div class="cafe-order-item-description">Mucho más</div>
    </div>
    <div class="cafe-order-item-price js-order-item-price">$3.99</div>
  </div>  <div class="cafe-order-item js-order-item" data-item-id="5">
    <div class="cafe-order-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Pizza.png">
         <img src="/img/cafe/Pizza.png">
      <canvas width="256" height="256"></canvas></picture>
    </div>
    <div class="cafe-order-item-label">
      <div class="cafe-order-item-title">Pizza <span class="cafe-order-item-counter"><span class="js-order-item-counter">1</span>x</span></div>
      <div class="cafe-order-item-description">That’s amore</div>
    </div>
    <div class="cafe-order-item-price js-order-item-price">$7.99</div>
  </div>  <div class="cafe-order-item js-order-item" data-item-id="6">
    <div class="cafe-order-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Donut.png">
        <img src="/img/cafe/Donut.png">

      <canvas width="256" height="256"></canvas></picture>
    </div>
    <div class="cafe-order-item-label">
      <div class="cafe-order-item-title">Donut <span class="cafe-order-item-counter"><span class="js-order-item-counter">1</span>x</span></div>
      <div class="cafe-order-item-description">Hole included</div>
    </div>
    <div class="cafe-order-item-price js-order-item-price">$1.49</div>
  </div>  <div class="cafe-order-item js-order-item" data-item-id="7">
    <div class="cafe-order-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Popcorn.png">
        <img src="/img/cafe/Popcorn.png">
      <canvas width="256" height="256"></canvas></picture>
    </div>
    <div class="cafe-order-item-label">
      <div class="cafe-order-item-title">Popcorn <span class="cafe-order-item-counter"><span class="js-order-item-counter">1</span>x</span></div>
      <div class="cafe-order-item-description">Lights, camera, corn</div>
    </div>
    <div class="cafe-order-item-price js-order-item-price">$0.00</div>
  </div>  <div class="cafe-order-item js-order-item" data-item-id="8">
    <div class="cafe-order-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Coke.png">
        <img src="/img/cafe/Coke.png">
      <canvas width="256" height="256"></canvas></picture>
    </div>
    <div class="cafe-order-item-label">
      <div class="cafe-order-item-title">Coke <span class="cafe-order-item-counter"><span class="js-order-item-counter">1</span>x</span></div>
      <div class="cafe-order-item-description">The liquid kind</div>
    </div>
    <div class="cafe-order-item-price js-order-item-price">$0.00</div>
  </div>  <div class="cafe-order-item js-order-item" data-item-id="9">
    <div class="cafe-order-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Cake.png">
        <img src="/img/cafe/Cake.png">
      <canvas width="256" height="256"></canvas></picture>
    </div>
    <div class="cafe-order-item-label">
      <div class="cafe-order-item-title">Cake <span class="cafe-order-item-counter"><span class="js-order-item-counter">1</span>x</span></div>
      <div class="cafe-order-item-description">Bread substitute</div>
    </div>
    <div class="cafe-order-item-price js-order-item-price">$10.99</div>
  </div>  <div class="cafe-order-item js-order-item" data-item-id="10">
    <div class="cafe-order-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Icecream.png">
      <img src="/img/cafe/Icecream.png">
      <canvas width="256" height="256"></canvas></picture>
    </div>
    <div class="cafe-order-item-label">
      <div class="cafe-order-item-title">Icecream <span class="cafe-order-item-counter"><span class="js-order-item-counter">1</span>x</span></div>
      <div class="cafe-order-item-description">Cone of shame</div>
    </div>
    <div class="cafe-order-item-price js-order-item-price">$5.99</div>
  </div>  <div class="cafe-order-item js-order-item" data-item-id="11">
    <div class="cafe-order-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Cookie.png">
        <img src="/img/cafe/Cookie.png">
      <canvas width="256" height="256"></canvas></picture>
    </div>
    <div class="cafe-order-item-label">
      <div class="cafe-order-item-title">Cookie <span class="cafe-order-item-counter"><span class="js-order-item-counter">1</span>x</span></div>
      <div class="cafe-order-item-description">Milk’s favorite</div>
    </div>
    <div class="cafe-order-item-price js-order-item-price">$3.99</div>
  </div>  <div class="cafe-order-item js-order-item" data-item-id="12">
    <div class="cafe-order-item-photo">
            <picture class="cafe-item-lottie js-item-lottie">
        <source type="application/x-tgsticker" srcset="/img/cafe/Flan.png">
      <img src="/img/cafe/Flan.png">
      <canvas width="256" height="256"></canvas></picture>
    </div>
    <div class="cafe-order-item-label">
      <div class="cafe-order-item-title">Flan <span class="cafe-order-item-counter"><span class="js-order-item-counter">1</span>x</span></div>
      <div class="cafe-order-item-description">Flan-tastic</div>
    </div>
    <div class="cafe-order-item-price js-order-item-price">$7.99</div>
  </div>
    </div>
  </div>
  <div class="cafe-text-field-wrap">
    <textarea class="cafe-text-field js-order-comment-field cafe-block" rows="1" placeholder="Add comment…" style="overflow: hidden visible; overflow-wrap: break-word;"></textarea>
    <div class="cafe-text-field-hint">
      Any special requests, details, final wishes etc.
    </div>
  </div>
</section>
<div class="cafe-status-wrap">
  <div class="cafe-status js-status"></div>
</div>

<script src="https://tg.dev/js/jquery.min.js"></script>
<script src="./js/cafe.js"></script>
<script>Cafe.init({"apiUrl":"\/cafe\/api","userId":0,"userHash":null});</script>
  </body>
</html>
